// Inter
@font-face {
    font-family: "Inter";
    font-weight: 100 900;
    font-style: oblique 0deg 10deg;
    font-display: swap;
    src: url("../fonts/Inter-var.woff2") format("woff2 supports variations(gvar)"),
    url("../fonts/Inter-var.woff2") format("woff2-variations"),
    url("../fonts/Inter-var.woff2") format("woff2");
}
