/** Variables **/

:root {
    --primary-color: #DD645E;
    --primary-color-dark: #bd3e38;
    --primary-color-accent: #DD645E;

    --text-color: #666666;
    --list-row-color: #ffffff;
    --list-background-color: #f5f5f5;
    --list-item-padding: 10px;
    --list-divider-color: #e2e6e9;
}

body {
    margin: 0;
    padding: 10px;
}

#header {
    display: inline-block;
}

#header .logo {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

#header .name {
    line-height: 94px;
    margin-left: 20px;
    font-size: 20px;
}

.float-left {
    float: left;
}

#channels-container {
    display: block;
    background-color: var(--list-background-color);
}

#timeline-container {
    display: none;
}

.channel {
    font-size: 20px;
    display: block;
    color: var(--text-color);
    cursor: pointer;
    background-color: var(--list-row-color);
    padding: var(--list-item-padding);
    border-bottom: 1px solid var(--list-divider-color);
}

.channel:hover {
    color: var(--primary-color-accent);
    background-color: var(--list-background-color);
}

.back-to-channels {
    font-size: 20px;
    display: block;
    color: var(--text-color);
    cursor: pointer;
}

.timeline-item {
    padding: var(--list-item-padding) 0;
    border-bottom: 1px solid var(--list-divider-color);
}

.title {
    font-size: 20px;
}

.image {
    padding: 10px 0;
}

.image img {
    max-width: 100%;
}