/** Variables **/

:root {
    --primary-color: #DD645E;
    --primary-color-dark: #bd3e38;
    --primary-color-accent: #DD645E;

    --color-error: #dc3545;
    --color-success: #28a745;

    --text-color: #666666;
    --list-row-color: #ffffff;
    --list-background-color: #f5f5f5;
    --list-item-padding: 10px;
    --list-divider-color: #e2e6e9;
}

html {
    color: #333;
    font-size: 112.5%;
}

body {
    margin: 0;
    font-size: 18px;
    font: caption;
    line-height: 28px;
}

.page {
    padding: 10px;
}

.no-connection {
    margin-top: 20px;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
}

p {
    margin: 0 0 1em 0;
}

#header, .actions {
    display: inline-block;
}

#header .logo {
    width: 100px;
    height: 100px;
    -webkit-user-select:none;
}

#header .menu {
    line-height: 94px;
    margin-left: 20px;
    font-size: 20px;
    -webkit-user-select:none;
}

.reader, .settings, .post, .media, .about {
    cursor: pointer;
}

.selected {
    text-decoration: underline;
    font-weight: 400;
}

.post-buttons-wrapper {
    margin: 20px 0;
}

.send-post {
    float: left;
}

.reload-config {
    float: right;
}

.float-left {
    float: left;
}

.settings-button-wrapper {
    margin: 20px 0;
}

.settings-button-wrapper .button-wrapper {
    display: inline-block;
    margin-right: 20px;
}

#channels-container {
    display: block;
}

#timeline-container, #settings-container, #posts-container, #overlay-container, #media-container, #about-container {
    display: none;
}

#media-container, #about-container {
    padding: 10px;
}

.channel {
    font-size: 20px;
    display: block;
    color: var(--text-color);
    cursor: pointer;
    background-color: var(--list-row-color);
    padding: var(--list-item-padding);
    border-bottom: 1px solid var(--list-divider-color);
}

.new, .published-on {
    font-size: 14px;
    color: #666666;
}

.channel:hover, .channel-hover {
    color: var(--primary-color-accent);
    background-color: var(--list-background-color);
}

.indicator {
    float: right;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.back-to-channels, .mark-read, .next, .video-wall {
    font-size: 20px;
    display: block;
    color: var(--text-color);
    cursor: pointer;
}

.mark-read, .video-wall {
    margin-left: 20px;
}

.video-wall-overlay .video {
    float: left;
}

.timeline-item {
    padding: var(--list-item-padding) 0;
    border-bottom: 1px solid var(--list-divider-color);
    display: flex;
}

.highlight {
    border: 1px solid #DD645E;
}

.title {
    font-size: 20px;
}

.image {
    padding: 10px 0;
}

.image img, video {
    max-width: 100%;
}

.author-wrapper {
    display: inline-block;
}

.post-content-wrapper {
    display: inline-block;
    margin-left: 10px;
    flex-grow: 1;
}

.post-content-wrapper img, .overlay-content img {
    max-width: 100%;
}

.author-name {
    cursor: pointer;
}

.reader-sub-title {
    display: none;
    font-size: 18px;
}

.content-wrapper, .overlay-wrapper {
    position: relative;
}

.overlay-wrapper {
    overflow: auto;
}

.read-more {
    margin-bottom: 10px;
}

#overlay-container {
    position: fixed;
    background: #fff;
    z-index: 100;
    border: 20px solid rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.overlay-content {
    padding: 20px;
}

.overlay-close {
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 20px;
}

.avatar {
    border-radius: 5px;
}

.button {
    cursor: pointer;
    text-align: center;
    background-color: rgb(221, 100, 94);
    color: #fff;
    padding: 10px 25px;
    border: 0 none;
    border-radius: 30px;
    font-weight: normal;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.rsvp-response, .read-response {
    padding: 5px;
    font-size: 16px;
}

input {
    margin: 10px 0;
}

.description {
    font-size: 14px;
    margin-bottom: 10px;
}

.text {
    width: 450px;
    max-width: 100%;
    border: 1px solid #333;
    padding: 12px;
}

.actions {
    margin-top: 20px;
    width: 100%;
}

.action {
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
}

.next {
    margin: 10px 0;
}

.post-type {
    font-size: 15px;
}

.reference {
    margin: 10px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
}

.action {
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-repeat: no-repeat;
}

.action-reply {
    background-image: url('../images/button_reply_idle.png');
}

.action-like {
    background-image: url('../images/button_like_idle.png');
}

.action-repost {
    background-image: url('../images/button_repost_idle.png');
}

.action-bookmark {
    background-image: url('../images/button_bookmark_idle.png');
}

.action-read {
    background-image: url('../images/button_read_idle.png');
}

.action-external {
    background-image: url('../images/button_external_idle.png');
}

.action-delete {
    float: right;
    margin-right: 10px;
    background-image: url('../images/button_delete_idle.png');
}

.action-rsvp {
    background-image: url('../images/button_rsvp_idle.png');
}

.tooltipster-base {
    margin-left: 3px;
}

.tooltipster-sidetip .tooltipster-content {
    padding: 20px;
}

.tooltip-confirm-wrapper, .tooltip-send {
    margin-top: 20px;
}

.tooltip-confirm-wrapper .tooltip-confirm {
    margin-right: 30px;
}

.tooltip-confirm-wrapper .tooltip-confirm, .tooltip-confirm-wrapper .tooltip-close {
    pointer-events: auto;
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
}

.inline-textarea {
    padding: 10px;
}

.snackbar {
    bottom: 0;
    height: 24px;
    text-align: center;
    position: fixed;
    width: 100%;
    color: #fff;
}

.snackbar.success {
    padding: 10px;
    background: var(--color-success);
}

.snackbar.error {
    padding: 10px;
    background: var(--primary-color);
}

.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 100px;
}

.content-full, .syndication-targets-wrapper, .media-url {
    display: none;
}